<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityHelloWorld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityHelloWorld.war">
      <element id="artifact" artifact-name="SpringSecurityHelloWorld:war exploded" />
    </root>
  </artifact>
</component>